
:root, ::backdrop {
  --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-accent: hsl(200, 100%, 38%);
  --color-body: #E0E0E0;
  --off-body: #bebebe;
  --overlay: rgba(0, 0, 0, 0.4);
  --color-text: #1C1C1C;
  --color-outline: var(--color-accent);
  --mid: #616161;
  --color-problem: #A20303;
  font-family: var(--font-body);
  --theme-border-radius: 5px;
  --10px: .625rem;
  --12px: .75rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --22px: 1.375rem;
  --23px: 1.4375rem;
  --25px: 1.5625rem;
  --28px: 1.75rem;
  --30px: 1.875rem;
  --40px: 2.5rem;
  --50px: 3.125rem
}

.dark-theme:root, .dark-theme::backdrop {
  --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-accent: hsl(200, 100%, 50%);
  --color-body: #2c2c2c;
  --off-body: #595959;
  --overlay: rgba(0, 0, 0, 0.4);
  --color-text: #dadada;
  --mid: #838383;
  --highlight: #d20000;
  font-family: var(--font-body);
}


body {
  color: var(--color-text);
  margin: 0 .6rem;
  background-color: var(--color-body);
  font-family: var(--font-body);
  overflow-x: hidden;
  @media (min-width: 1024px) {
    margin: 0;
  }
}

.lock-body{
  overflow: hidden;
  height: 100%;
}

body * {
  box-sizing: border-box;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}


.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
